* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

:root {
    --primary-color: rgb(84, 105, 212)
}

body {
    overflow-x: hidden;
}


.user_back {
    height: 100vh;
    width: 100%;
}

.user_ex {
    height: 100vh;
    width: 100%;
}

.formcontainer {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.loginform {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    padding: 40px;
}

form input {
    padding: 10px;
    border: 1px solid rgba(159, 149, 149, 0.746);
    font-size: 1rem;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.661);
    transition: all 0.2s;
}

.form_item {
    display: flex;
    flex-direction: column;
}

.loginform form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input[type='submit'] {
    background-color: rgb(84, 105, 212);
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 5px;
}

input[type='submit']:hover {
    box-shadow: 0px 0px 40px black inset;
}

form input:focus {
    outline-color: rgb(84, 105, 212);
}

.form_item label {
    padding-bottom: 5px;
}

.loginform h2 {
    color: rgb(84, 105, 212);
    font-weight: 900;
}

.loginform a {
    text-decoration: none;
    color: rgb(84, 105, 212);
}

.loginform .link {
    align-self: flex-end;
}

@media screen and (max-width:950px) {

    h2 {
        font-size: 1.3rem;
    }

    .form_item label {
        font-size: 0.9rem;
    }

    .err_msg {
        font-size: 0.8rem;
    }

    .link {
        font-size: 0.9rem;
    }
}



@media screen and (max-width:350px) {
    .loginform {
        padding: 10px;
    }
}


/* ///////////////////////////////////////////////////////////////// */
/* css for navbar */

.opennav {
    z-index: 20;
    flex-direction: column;
    gap: 10px;
    transform: scale(0.35);
    cursor: pointer;
    position: fixed;
    top: 0px;
    left: -5px;
    display: none;
    transition: all 0.6s;
}

.opennav div {
    width: 70px;
    background-color: #5469d4;
    height: 10px;
    border-radius: 4px;
    transition: all 0.6s;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.flex {
    z-index: 10;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(252, 252, 252);
    padding-top: 5px;
    width: 220px;
    font-size: 1.4rem;
    margin: 0px;
    padding: 10px;
}

.flex li {
    list-style: none;
}

.flex li a:hover,
.closenav:hover {
    color: rgb(4, 4, 4);
}

.opennav:hover div {
    background-color: black;
}


.nav {
    color: white;
}

.nav .navbar {
    transition: all 0.6s;
    position: fixed;
    left: 0px;
    opacity: 1;
}

.close .opennav {
    /* transform: translateX(150px) scale(0.35);
    top: 10px; */
    display: none !important;
}

.close .flex {
    height: 100vh;
}

.close .opennav div:first-child {
    transform: rotateZ(45deg) translateY(20px);
}

.close .opennav div:nth-child(3) {
    transform: rotateZ(-45deg) translateY(-20px);
}

.opennav div:nth-child(2) {
    transition: 0s all;
}

.close .opennav div:nth-child(2) {
    height: 0px;
}

@media screen and (max-width:700px) {


    .opennav {
        display: flex;
    }

    .close .overlay {
        width: 100vw;
        position: fixed;
        height: 100vh;
        background-color: rgba(1, 0, 0, 0.367);
        backdrop-filter: blur(1.5px);
        transition: all 1s;
    }

    .nav .navbar {
        left: -220px;
        opacity: 0;
    }

}

.close .navbar {
    opacity: 1;
    left: 0px;
}


/* css for sections? */

.main {
    display: flex;
}

.right {
    margin-left: 220px;
    flex: 1;
    min-height: 100vh;
    background: whitesmoke;
}


.section {
    max-width: 700px;
    /* margin-left:min(100px,10%);
    margin-top: 30px; */
    margin: 25px;
}

.title {
    margin: 0px 0px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    max-width: 600px;
}




.date {
    margin-bottom: 10px;
}

.title h2,
.big_title h2,
.desc,
.big_desc {
    word-break: break-all;
}

.title h2:focus,
.big_title h2,
.big_desc,
.desc:focus {
    outline: 0px;
}

/* add note */
.open_note {
    padding: 20px;
    display: flex;
    align-items: center;
}

/* @media screen and (max-width:700px) {
    .open_note h3 {
        display: none;
    }


    .open_note {
        position: absolute;
        bottom: 40px;
        z-index: 200;
        right: 40px;
        scale: 2;
    }
} */

.notes,
.notis {
    padding: 20px;
    columns: 3;
    max-width: 1000px;
}

.note {
    background-color: white;
    padding: 20px 20px;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.5s;
    margin-bottom: 20px;


}

.add_any_section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

@media screen and (min-width:700px) {

    .note:hover {
        box-shadow: 0px 0px 10px black;
        transform: translateY(0px) scale(1.01);
    }



}

.note_title {
    margin-bottom: 2px;
}

.note_top {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width:950px) {

    .notes,
    .notis {
        columns: 2;
        padding: 10px;
    }
}



/* big note? */

.big_title {
    display: flex;
    justify-content: space-between;
}

.bignote {
    position: relative;
    min-width: min(800px, 100%);
    background-color: rgb(255, 255, 255);
    z-index: 100;
    max-height: 90vh;
    overflow: hidden;
    padding: 60px 40px 20px 40px;
    min-height: 66vh;
}

@media screen and (max-width:700px) {
    .right {
        margin-left: 0px;
    }

    .bignote {
        padding: 20px;
        padding-top: 40px;
    }

}

textarea {
    resize: vertical;
    width: 100%;
    border: none;
}

textarea:focus {
    outline: none;
}

.bignote textarea {
    overflow: auto;
    font-size: 1.1rem;
    padding-top: 20px;
    height: 100%;
    max-height: 50vh;
}

.back {
    background-color: #2e2a2acc;
    position: fixed;
    opacity: 0;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: opacity 1s;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_active {
    opacity: 1;
    z-index: 100;
}

.big_close {
    position: absolute;
    top: 10px;
    transition: all 0.5s;
    right: 10px;
}


.big_back {
    position: absolute;
    top: 20px;
    left: 20px;
    transform: scale(1.3);
    display: none;
}

.big_top {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
}

.big_close:hover {
    transform: rotate(-90deg);
}

.big_desc {
    padding-top: 10px;
}

.note_title,
.note_desc {
    word-break: break-all;
}

.big_btn_grp {
    display: flex;
    gap: 10px;
}


@media screen and (max-width:450px) {

    .notes,
    .notis {
        padding: 5px;
    }

    .note {
        padding: 15px;
        margin-bottom: 15px;
    }

    .note .date {
        margin-bottom: 0px;
        font-size: 0.8rem;
    }

    .note_desc {
        font-size: 16px;
    }

    .bignote {
        min-width: 100%;
        height: 100vh;
        max-height: 100vh;
        padding: 60px 20px;
    }

    .bignote textarea {
        max-height: 70vh;
    }

    .bignote h2 {
        font-size: 1.2rem;
    }

    .bignote span {
        font-size: 0.8rem;
        padding-top: 5px;
    }

    .big_back {
        display: block;
    }

    .big_close {
        display: none;
    }

    .loginform,
    #root,
    .formcontainer {
        width: 100%;
    }

}

@media screen and (max-width:350px) {
    .notes {
        padding: 5px;
        columns: 1;
    }

}

.err {
    border-color: red;
    border-width: 1px;
    background: transparent;
}

.err_msg {
    color: red;
    font-size: 0.8rem;
    margin-bottom: -3px;
}

.server_err {
    color: red;
    text-align: center;
    border-radius: 5px;
    border: 1px solid red;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.08);
}

.user {
    color: black;
    font-size: 1rem;
    padding: 20px 15px;

}

.name {
    color: blue;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.some {
    font-size: 1.2rem;
}

.user .pre {
    color: black;
    font-size: 2rem;
}

.setting {
    display: flex;
    align-items: center;
}

.small {
    display: flex;

    transform: scale(0.6) translateY(2px);
}

.noti_icon {
    cursor: pointer;
    border: 1px solid blue;
    width: fit-content;
    padding: 3px;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}


/* reminder */

.reminder {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.set {
    display: flex;
    align-items: center;
}

.save {
    display: flex;
    align-items: center;
    background-color: #5469d4;
    color: white;
    transform: scale(0.9);
    cursor: pointer;
    gap: 10px;
    padding: 2px 10px;
    transition: all 0.5s;
    border-radius: 5px;
}

.save:hover {
    background-color: #5469d4;
    transform: scale(1);

}


.section-conta {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.small-section svg {
    font-size: 4rem !important;
    fill: #5469d4;
}


.small-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: ghostwhite;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}

.small-section:hover {
    background: white;
}

@media screen and (max-width:350px) {

    .notes {
        padding: 5px;
    }



}

.btn_grp {
    display: flex;
}

.loading {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(198, 180, 223, 0.305);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 10px;
    animation: loading infinite 0.5s alternate;
    z-index: 99;
    backdrop-filter: blur(5px);
}

@keyframes loading {
    from {
        background-color: rgba(77, 62, 62, 0.305);
    }

    to {
        background-color: rgba(168, 101, 101, 0.275);
    }
}

.msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}

.right {
    padding-top: 20px;
}

.right>h2 {
    padding: 30px;
}


input {
    background: transparent;
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

.f_title,
.t_title {
    font-size: 1.5rem;
    font-weight: 500;
}

.f_desc,
.t_desc {
    font-size: 1rem;
}




/* not found page css  */
.notfound {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    font-size: 2rem;
}

.notfound h1 {
    color: red;
    font-size: 3rem;
}

.fullmode {
    margin: 0px;
    padding: 20px;
}

.task-page {
    padding: 35px;
    margin: 0px 10px;
    background: white;
    border-radius: 5px;
}

.task-page .date {
    margin-bottom: 25px;
}

.fw-400 {
    font-weight: 400;
}

.task-page textarea::-webkit-scrollbar {
    display: none;
}

.owner {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 4px;
    border-bottom: 10px #5469d4 solid;
    width: fit-content;
    margin-bottom: 15px;
}

.note-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
}

.close-toast {
    margin-left: 5px;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
}


/* sign-up button css */
.sign-up-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    border: 1px solid var(--primary-color);
    transition: all 0.2s;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.sign-up-btn a {
    color: var(--primary-color);

}

.sign-up-btn:hover{
    background: var(--primary-color);
}

.sign-up-btn:hover a{
    color: whitesmoke;
}